
.khung1{
    width: 1900px;
    position: fixed;
    margin: auto;
    background-color: white;
    top: 0px;
}
.khung121 {
    margin-top: 110px;
}

.khung11{
    margin-left: 300px;}
.khung11 li{
    list-style: none;}
.khung11 h1{
    float: left;
    list-style: none;
    font-size: 40px;}
.form1 input{
    margin-top: 36px;
    margin-left: 35px;
	width: 500px;
	height: 28px;
    float: left;
    background-color: #EEEEEE;
    border-color: white;}
.form2 input{
    float: left;
    margin-top: 34px;
	width: 70px;
	height: 35px;
    background: #009933;
    border-color: white;}
.Image1 img{
    padding: 4px;
    border-radius: 50%;
    border: 2px solid green ;
    margin-left: 90px;
    margin-top: 20px;
    float: left;}
.khung12 a{
    float: left;
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-top: 43px;}
.khung12 {
    padding-left: 1400px;}

.khung2{
    width: 1900px;
    background-color: #009933;
    margin: auto;
    height: 45px;}
.khung2 p{transition: all 0.3s}
.khung2 p:hover{color:red}
    
.khung2 li{
        padding-left:80px;
        float: left;
        list-style: none;}
.khung2 a{
    text-decoration: none;
    color: white;}
.khung2 ul{
    margin-left: 220px;}
.khung22{
    padding-left: 1035px;
    padding-top: 15px;}
.khung22 li{
    float: left;
    list-style: none;
    text-decoration: none;
    padding-left: 10px;}

.khung3 li{
    list-style: none;
    float: left;
    padding-left: 15px;
}
.khung3{
    padding-top: 10px;
    margin-left: 288px;
}
.khung3 a{
    text-decoration: none;
    color: black;
}
hr{
    width:1214px;
}
.khung4 img{
    margin-top: 10px;
    margin-left: 363px;
}
.khung411 li{
    float: left;
    list-style: none;
    padding-left: 17px;
}
.khung411 img{
    max-width: 100%;
    max-height: 100%;
}
.khung411{
    margin-left: 283px;
    float: left;
}
.khungAnh{
    float: left;    
}

.khung412 img{
    margin-left: 340px;
    padding-top: 15px;}

.khung41 {
    float: left;
    padding-left: 45px;
    font-size: 17px;
}

.khung41 hr{
    width: 570px;
}
.khung41 img{
    width: 20px;
    height: 20px;
}
.khungform {
    float: left;
    padding-top:18px;
}
.khung441{
    float: left;
}

.khung441 li{
    float: left;
    list-style: none;
    padding-left: 3px;
}

.khung41 input{
    color: white; 
    width: 125px;
   height: 42px; 
   font-size: 17px; 
   border: 1px solid black;
   background-color: #009933;
   text-align: center;
}



.khung5{
    float: left;
}
.khung5 form{
    font-size: 17px;
    border: 2PX solid #777777;
    width: 240px;
    padding-top: 15px;
    margin-top: 20px;
    margin-left: 36px;
    height: 250px;}

.khung5 table{
    padding-top: 10px;
}




.khungtail{
    margin-left: 345px;
    width: 1220px;
    margin-top: 15px;
    background-color: #EEEEEE;
}

.khung62{
    padding: 10px;
    font-size: 20px;
}
    
#slide-show li{
    list-style: none;
    float: left;
    margin-left: 8px;
    padding: 18px;
    background-color:white;
    margin-bottom: 30px;
}
.Truoc{
    padding-left: 10px;
}
.Sau{
    padding-left: 1130px;
}

.khungND{
    margin-left: 345px;
    width: 1210px;
    margin-top: 15px;
    background-color: #EEEEEE;
    padding-left: 10px;
}
.khungttct{
    margin-left: 345px;
}
.khungtt1 ul{
    float: left;
    font-weight: 100;
}
.khungtt2 ul{
    float: left;
    font-weight: 100;
    padding-left: 500px;
}

.khungttct li{
    padding-top: 10px;
}

.khungdgbl{
    margin-left: 345px;
}

.khungdgbl11{
    border: 1px solid #Dddddd;
    width: 460px;
}
.khungdgbl11 table{
    width: 450px;
}
.khungdgbl11 td{
    padding-left: 20px;
}

.khungdgbl1 li{
    list-style: none;
    float: left;
}

.khungdgbl12
{
    padding-top: 30px;
    padding-left: 800px;
}
.khungdgbl12 a{
    padding-left: 100px;
    text-decoration: none;
    color: blue;
}

.khungfb{
    padding-left: 345px;
}
.khungfb1 img{
    margin-top: 0px;
    border-radius: 50%;
}
.khungfb1 tr{
    margin-top: 40px;
}
.khungfb1 a{
    text-decoration: none;
    color: #0099CC;
}
.khungfb1 td{
    padding-top: 15px;
    padding-left: 10px;
}
.khungfb1 input{
    height: 30px;
    width: 1120px;
}
.khungend{
    padding: 20px 0px 25px 200px;

}
.khungend1 input{
    width: 200px;
    height: 30px;
}
.khungend1 li{
    float: left;
    list-style: none;
    padding-left: 50px;
}

.khungEnd td{
    padding-left: 50px;
}

.khungEnd1{
    padding-left: 0px;
    font-weight: 100;
}
.khungEnd1 td{
    padding-left: 0px;
    font-size: 15px;
}
.khungEnd1 table{
    padding-left: 335px;
    width: 1680px;
    height: 200px;
}

.khung7{
    margin-left: 255px;
}
.khung7 li{
    list-style: none;
    float: left;
    padding-left: 50px;
    
}
.khung7 a{
    text-decoration: none;
    color: 	#555555;
}

.khung7 a{transition: all 0.3s}
.khung7 a:hover{
    color: #006633;
    text-decoration: underline;
}
.khungND form{
    float: left;
    margin-top: 8px;
    margin-right: 18px;
}
.khungND table{
    font-size: 14.5px;
    font-weight: 100;
}
.khungND p{
    padding-left: 5px;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}